<h1>Editing student</h1>

<%= render 'form' %>

<button type="button" class="btn btn-default"><span class="glyphicons glyphicons-edit"></span><%= link_to 'Show', @student %> </button>
|
<button type="button" class="btn btn-default"><span class="glyphicons glyphicons-edit"></span><%= link_to 'Back', students_path %> </button>


